{% layout none %}

<div class="swiper-slide clerk-slide">
  {% comment %} Change this to the client's existing product card {% endcomment %}
  {% render 'card-product', 
    card_product: product,
    show_secondary_image: true
    quick_add: "standard",
    skip_styles: true
  %}
</div>